body {
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.three {
  font-size: 32px;
  font-weight: bold;
}
.two {
  font-size: 24px;
}
.one {
  text-decoration: underline;
}